bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
docspec==0.2.1
docspec-python==0.1.0
docutils==0.16
idna==2.10
importlib-metadata==3.7.3
jeepney==0.6.0
keyring==23.0.0
nr.collections==0.0.1
nr.databind.core==0.0.22
nr.databind.json==0.0.14
nr.fs==1.6.3
nr.interface==0.0.4
nr.metaclass==0.0.6
nr.parsing.date==0.6.0
nr.pylang.utils==0.0.4
nr.stream==0.0.5
nr.sumtype==0.0.4
nr.utils.re==0.1.1
packaging==20.9
pkginfo==1.7.0
pycparser==2.20
pydoc-markdown==3.10.0
Pygments==2.8.1
pyparsing==2.4.7
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
watchdog==1.0.2
webencodings==0.5.1
zipp==3.4.1
